@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
  font-family: "Kanit", sans-serif;
}
body {
  background: #313133;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
}
.container {
  background: white;
  padding: 1.2rem;
  width: 900vw;
  margin: 8rem auto;
  max-width: 35rem;
  border-radius: 0.25rem;
}

.form-control {
  display: flex;
  justify-content: center;
}

.text-input {
  padding: 0.25rem;
  font-size: 1.2rem;
  background: lightcyan;
  flex: 1 0 auto;
}

.submit-btn {
  background: rgb(0, 94, 128);
  color: white;
  cursor: pointer;
  font-weight: 800;
  border: transparent;
  font-size: 1rem;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 00.25rem;
  padding: 00.25rem 1rem;
  background: #f7f7f7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  border-radius: 0.25rem;
  font-size: 1rem;
}

.btn {
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 0.8rem;
}

.alert {
  margin-bottom: 1.5rem;
  height: 1.25rem;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
}

.alert.error {
  background: rgb(255, 73, 73);
  color: white;
}
.alert.success {
  background: rgb(40, 230, 116);
  color: white;
}
